<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet" media="screen">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
      <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->

    <style>

    	#status-bar {
    		/*margin-right: 110px;*/
    	}

    	#post-list {
    		list-style: none outside none;
    	}

    	#post-list .well {
    		padding-top: 5px;
    		padding-bottom: 5px;
    	}
    </style>
  </head>
  <body>
    <div id="wrapper">
      
		<div id="header">

	        <div class="navbar navbar-fixed-top">
	          <div class="navbar-inner">
	            <span class="navbar-brand pull-left" href="#"><strong>{{title}}</strong></span>
	            <ul class="nav pull-right">
				  <li><a href="/location"><i class="glyphicon-map-marker"></i> Location</a> </li>
	              <li class="active"><a href="/blog"><i class="glyphicon-bookmark"></i> Blog</a></li>
	              <li><a href="/photos"><i class="glyphicon-camera"></i> Photos</a></li>
	              <li><a href="/about"></a></li>
	            </ul>
	          </div>
	        </div>

      	</div>



    	<div id="post-container">
    		<div class="row ">
    			<div class="col-md-7 col-md-offset-1">
		    		<div id="post-view">
					    <ul id="post-list">
					    {{#each posts}}
					      <li class="well">
					        <h3>{{title}}</h3>
					        <small class="muted">{{date}}</small>
					        <p class="lead">{{{body}}</p>
					      </li>
					    {{else}}
					      <li class="well">
					      	<h2>No blogkuis have been created yet :)</h2>
					      </li>
					    {{/each}}
					    </ul>
					</div>
				</div>

	   			<!-- Status -->
	   			<div class="col-md-3 hidden-xs">
					
					<!--
					<div id="status-bar">
						<div class="well">
						  <h4>Status</h4>
						  <div class="lead">
						    Driving
						  </div>
						  <h4>Current City</h4>
						  <div id="current-city" class="lead">
						    Washington, DC
						  </div>
						</div>
					</div>

					-->
				</div>
			</div>

    	</div>
    </div>

    <!--Javascript-->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41996553-1', 'whereispulkit.com');
	  ga('send', 'pageview');
	</script>
  </body>
</html>