body {

}

.well {
  background: none repeat scroll 0 0 rgba(245, 245, 245, 0.7);
}

#wrapper {
  padding-top: 60px;
  /*background: none repeat scroll 0 0 #F0F1F2;*/
}

#header{
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  z-index: 10;
  /*z-index: 314159265;*/
  width: 100%;
  min-width: 960px;
  /*height: 52px*/;
}

#content {
  padding-top: 10px
}

#map-view > #map-canvas{ 
  height: 100%;
  overflow: visible;
}

#map-view {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1;
}

.leaflet-container {
  background: none repeat scroll 0 0 #DDDDDD;
}

#left-bar {
  position: relative;
  width: 496px;
  float: left;
}

#stream-container {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  margin: 0 0 0 20px;
  position: relative;
  width: 500px;
  z-index: 2;
}

#stream-results {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1) inset;
  padding: 10px 10px 1px;
  position: relative;
  z-index: 50;
}

#stream-list {
  list-style: none outside none;
  margin: 0;
}

#stream-view {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1) inset;
  padding: 10px 10px 1px;
  position: relative;
  z-index: 50;
}

#stream-view li.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  width: 460px;
}

#status-bar{
  float: right;
  width: 200px;
  margin-right: 30px;
  position: fixed;
  right: 0;
  z-index: 3;
  display: none;
}

#display-options{
  float: right;
  width: 200px;
  margin-right: 30px;
  position: fixed;
  right: 0;
  z-index: 3;
}

.wrap {
    margin: 0 auto;
    width: 960px;
}

#container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

#container.wrap {
  min-width: 960px;
  width: 100%;
  border: medium none;
}

.navbar .navbar-brand {
  margin-left: 0;
}

.whereispulkit-bar a, .whereispulkit-bar a:hover{
  width: 89px;
  padding-left: 15px;
}

.whereispulkit-control-max-zoom-in, .whereispulkit-control-max-zoom-out, .leaflet-control-zoom-out, .leaflet-control-zoom-in {
  font: bold 18px 'Lucida Console',Monaco,monospace;
}

.leaflet-control {
  clear: none;      /* Done to get Max Zoom In and Out to show side by side the zoom controls */
}


/* Give our markers a background image */
.foursquare-marker-icon {
  background: url(https://foursquare.com/img/pin-blue-transparent.png);
  padding: 6px;
  padding-bottom: 17px;
  top: -6px;
  left: -6px;
}

 /*Trying to use 4sq styling but not working*/
.iconPin.bluePin {
    background: url(https://ss0.4sqi.net/img/pin-blue-background-38881bf7f89e013c9494dda56f46e4d3.png) repeat scroll 0 0 transparent;
    outline: 1px solid #57B4DF;
}

/* Popup boxes */
.leaflet-popup-content > .category {
  float: left;
  width: 32px;
  margin-right: 5px;
}

.leaflet-popup-content > .venueName {
}

.leaflet-popup-content {
  line-height: 1.4em;
}

